<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 
<body layout:fragment="content">
 
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" th:fragment="content">
	<div class="row-element">
        <div class="panel panel-danger col-lg-6">
          <div class="panel-heading"><h2>Error</h2></div>
		  <div class="panel-body" th:text="${errormsg}"></div>
		</div>
    </div>
</div>
 
 

</body>
</html>
