<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>SmartShelf</title>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
    
	<!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div th:replace="navbar :: navbar">
</div>

<noscript>
    <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
        Your web browser must have JavaScript enabled
        in order for this application to display correctly.
    </div>
</noscript>

<div class="master" th:if="${masterview} != null">
	<!-- <div th:replace="searchTemplate :: content"></div> -->
	<div th:replace="${masterview} :: content"></div>
</div>

<div class="container">
	<div class="row detail col-md-12" th:if="${detailview} != null">
	    <!-- <div class="row col-md-12 detail" th:include="detailResultTemplate :: searchResult"> -->
	    <div class="row col-md-12 detail" th:include="${detailview} :: content">
	   	</div>
   	</div>
   	
    <br/>

    <footer th:replace="footer :: footer">
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script src="../static/js/qrscanning/jsqrscanner.nocache.js" th:src="@{/js/qrscanning/jsqrscanner.nocache.js}" type="text/javascript"></script>

<script th:inline="javascript">

	$(document).ready(function() {

		// focus always of main search field
		$('#main-search-field').focus().select();
		
		$('#navbar-search-field').keydown( function(e) {
	        var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
	        if(key == 13) {
	            e.preventDefault();

	            $("#navbar-search-button").click();
	        }
	    });
		
		$('#main-search-field').keydown( function(e) {
	        var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
	        if(key == 13) {
	            e.preventDefault();

	            $("#main-search-submit").click();
	        }
	    });
		
 		$("#main-search-submit").click(function() {
 			
 			var searchparam = $("#main-search-field").val(); 
 			itemSearch(searchparam);
 		});
 		
 		$("#navbar-search-button").click(function() {
 			
 			var searchparam = $("#navbar-search-field").val(); 
 			itemSearch(searchparam);
 		});
 		
 		function itemSearch( keyword ) {
 			
 			var sp_uriencoded = encodeURI( keyword );
 			console.log("Search parameter: " + sp_uriencoded); 
 			
 			window.location.href='http://' + [[${@environment.getProperty('server.url')}]] + ':' + [[${@environment.getProperty('server.port')}]] + '/?searchParam=' + sp_uriencoded;
 		}
	});

 </script>
</body>
</html>