<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 
<body layout:fragment="navbar">
 
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SmartShelf</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">Management</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>

            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
            </form>
            <form class="navbar-form navbar-right">
                <button type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-info-sign"></span> Scan QR</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</div>
 
</body>
</html>
